body {
    font-family: Arial, sans-serif;
}

.user-info,
.super-user-info {
    border: 1px solid #ffffff;
    padding: 15px;
    margin: 10px 0;
}

.user-info h3,
.super-user-info h3 {
    color: rgb(25, 0, 255);
}
